<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/style.scss">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header id="navheader" class="text-white">
    <h1>Media Tracking Blog</h1>
    <section></section>
        {{#if logged_in}}
            <a href="/">Home</a>
            <a href="/users">User Hub</a>
            <a href="/myMovies">Movies</a>
            <a href="/api/users/logout">Logout</a>
        {{else}}
            <a href="/">Home</a>
            {{!-- <a href="/users">User Hub</a> --}}
            {{!-- <a href="/myMovies">Movies</a> --}}
            <a href="/login">Login</a>
        {{/if}}

  </header>

  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
</body>

</html>