<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Tracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<section class="hero is-white is-fullheight-with-navbar block">
    {{#if logged_in}}
    <div class="hero-head">
        <nav class="navbar card">
            <div class="container">
                <div class="navbar-title is-size-5">
                    <a class="navbar-item">Media Tracking Blog</a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="/users" class="navbar-item is-active">
                            User Hub
                        </a>
                        <a href="/myMovies" class="navbar-item is-active">
                            Movies
                        </a>
                        <a href="/api/users/logout" class="navbar-item is-active">
                            Logout
                       </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {{else}}
    <div class="hero-head">
        <nav class="navbar card">
            <div class="container">
                <div class="navbar-title is-size-5">
                    <a class="navbar-item">Media Tracking Blog</a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="/users" class="navbar-item is-active">
                            User Hub
                        </a>
                        <a href="/myMovies" class="navbar-item is-active">
                            Movies
                        </a>
                        <a href="/api/users/login" class="navbar-item is-active">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {{/if}}
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main> 

</section>


  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
</body>

</html>