<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Media Tracking Blog</h1>
  </header>
  <nav>
    <a href="/">Dashboard</a>
    <a href="/">Movies</a>
    <a href="/">Gaming</a>
    <a href="/">Books</a>
    <a href="/">Login</a>
    <a href="/">Logout</a>
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
</body>

</html>