<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Tracking Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.scss">

<section class="hero is-white is-fullheight-with-navbar block">
    {{#if logged_in}}
    <div class="hero-head">
        <nav class="navbar card has-background is-info">
            <div class="container">
                <div class="navbar-title is-size-2">
                    <a class="navbar-item">Media Tracking Blog</a>
                    {{!-- <span class="navbar-burger" data-target="navbarBasicExample">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span> --}}
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="/users" class="navbar-item is-active">
                            User Hub
                        </a>
                        <a href="/myMovies" class="navbar-item is-active">
                            Movies
                        </a>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        <a href="/logout" class="button is-link">
                        <strong>Logout</strong>
                        </a>
                </div>
            </div>
        </nav>
    </div>
    {{else}}
    <div class="hero-head">
        <nav class="navbar card has-background is-info">
            <div class="container">
                <div class="navbar-title is-size-2">
                    <a class="navbar-item">Media Tracking Blog</a>
                    {{!-- <span class="navbar-burger" data-target="navbarBasicExample">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span> --}}
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a href="/users" class="navbar-item is-active">
                            User Hub
                        </a>
                        <a href="/myMovies" class="navbar-item is-active">
                            Movies
                        </a>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        <a href="/login" class="button is-link">
                        <strong>Login</strong>
                        </a>
                </div>
            </div>
        </nav>
    </div>
    {{/if}}

  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main> 

</section>

  {{#if logged_in}}
  <script src="/logout.js"></script>
  {{/if}}
</body>

</html>