
<section class="hero is-info is-fullheight">
  <div class="hero-body is-flex is-justify-content-center">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-tablet is-4-desktop is-3-widescreen">
          <div class="field has-addons is-justify-content-center">
            <div class="control">
              <input class="input is-info" type="text" placeholder="Search for a user">
            </div>
            <div class="control">
              <button class="button is-link">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/userSearch.js"></script>


